@import '../../shared//styles/variables.scss';
@import '../../shared/styles/mixins.scss';

.dataListContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: transparent;
    padding: 8px;
    label.noItemMsg {
        text-align: center;
        padding: 10px 8px;
        font-size: 18px;
        color: $font-color1;
        width: 100%;
        background-color: $bg-color2;
    }
}

@include tablet {
    .dataListContainer {
        background-color: $bg-color2;
        label.noItemMsg {
            padding: 4px;
        }
    }
}