$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;

$font-color1: #ffffff;
$font-color2: #000000;
$font-color3: #eae6e6;
$font-color4: #afabaa;
$font-color5: #946018;
$font-color6: #343a40;

$bg-color1: #444444;
$bg-color2: #343a40;
$bg-color3: #716e6e;
$bg-color4: #333333b3;

$border-color1: #333333;
$border-color2: #615f5f;